@import "mixins";

h1 {
  line-height: 1.4em;
  padding: 0;
  margin: 0 0 10px;
  size: 3rem;
}

p {
  line-height: 1.4em;
  padding: 0;
  margin: 0 0 10px;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: $body-background-color;
  font: {
    size: $body-font-size;
    family: 'Roboto', Arial, sans-serif;
    weight: 100;
  }

  .app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $banner-font-color;
      background-image: url("../img/flowers.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: content-box;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      align-content: stretch;
    }
  }
}

.banner>.band {
  position: absolute;
  top: 30%;
  width: inherit;
  bottom: 30%;
  padding: 70px 100px;
  box-sizing: border-box;
  left: 0;
  background: rgba($overlay-color, 0.5);

  h1 {
    color: $banner-font-color;
  }

  h3 {
    color: $accent-color;
  }
}
